<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.childcare.domain.growth.mapper.GrowthHistoryMapper">

    <resultMap id="growthHistoryResultMap" type="com.childcare.domain.growth.entity.ChildGrowHistory">
        <id property="ghSeq" column="gh_seq"/>
        <result property="chSeq" column="ch_seq"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="regId" column="reg_id" typeHandler="com.childcare.global.config.UuidTypeHandler"/>
        <result property="regDate" column="reg_date"/>
        <result property="deleteYn" column="delete_yn"/>
        <result property="deleteId" column="delete_id" typeHandler="com.childcare.global.config.UuidTypeHandler"/>
        <result property="deleteDate" column="delete_date"/>
    </resultMap>

    <select id="findActiveHistoryById" resultMap="growthHistoryResultMap">
        <![CDATA[
        SELECT *
        FROM child_grow_history
        WHERE ch_seq = #{childId}
          AND gh_seq = #{historyId}
          AND (delete_yn IS NULL OR delete_yn != 'Y')
        ]]>
    </select>

    <insert id="insertHistory" parameterType="com.childcare.domain.growth.entity.ChildGrowHistory" useGeneratedKeys="true" keyProperty="ghSeq" keyColumn="gh_seq">
        INSERT INTO child_grow_history (ch_seq, height, weight, reg_id, reg_date, delete_yn)
        VALUES (#{chSeq}, #{height}, #{weight}, #{regId, typeHandler=com.childcare.global.config.UuidTypeHandler}::uuid, NOW(), 'N')
    </insert>

    <update id="updateHistory">
        UPDATE child_grow_history
        SET height = #{height},
            weight = #{weight}
        WHERE ch_seq = #{childId}
          AND gh_seq = #{historyId}
          AND (delete_yn IS NULL OR delete_yn != 'Y')
    </update>

    <update id="softDeleteHistory">
        UPDATE child_grow_history
        SET delete_yn = 'Y',
            delete_id = #{deleteId, typeHandler=com.childcare.global.config.UuidTypeHandler}::uuid,
            delete_date = NOW()
        WHERE ch_seq = #{childId}
          AND gh_seq = #{historyId}
          AND (delete_yn IS NULL OR delete_yn != 'Y')
    </update>

</mapper>
